{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
    <div class="container">
        <a class="navbar-brand fw-bold d-flex align-items-center" href="{% url 'core:home' %}">
            <i class="fas fa-seedling me-2 text-success"></i> {% trans "One Cup One Tree" %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:home' %}">{% trans "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:about' %}">{% trans "About Us" %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="programsDropdown" role="button" data-bs-toggle="dropdown">
                        {% trans "Programs" %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'programs:program_list' %}">{% trans "All Programs" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'farmers:farmer_support_list' %}">{% trans "Farmer Support" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'volunteers:barista_training' %}">{% trans "Barista Academy" %}</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'get_involved:get_involved' %}">{% trans "Get Involved" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gallery:gallery_list' %}">{% trans "Gallery" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:post_list' %}">{% trans "Blog" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'events:event_list' %}">{% trans "Events" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:contact' %}">{% trans "Contact" %}</a>
                </li>
                <li class="nav-item ms-lg-3">
                    <a href="{% url 'get_involved:join' %}" class="btn btn-success px-4 fw-semibold">
                        <i class="fas fa-hands-helping me-2"></i>{% trans "Join the Initiative" %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>