{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm border-0 rounded-4">
                {% if post.featured_image %}
                    <img src="{{ post.featured_image.url }}" class="card-img-top rounded-top-4" alt="{{ post.title }}">
                {% endif %}
                <div class="card-body p-5">
                    <h1 class="mb-3">{{ post.title }}</h1>
                    <p class="text-muted mb-2">
                        <i class="fa fa-calendar"></i>
                        {{ post.published_at|date:"M d, Y" }}
                        &nbsp;|&nbsp;
                        <i class="fa fa-user"></i>
                        {{ post.author.get_full_name|default:post.author.username }}
                    </p>
                    {% if post.description %}
                        <p class="lead mb-4">{{ post.description }}</p>
                    {% endif %}
                    <p class="mb-4">{{ post.content|linebreaks }}</p>
                </div>
            </div>
            <div class="mt-4">
                <a href="{% url 'blog:post_list' %}" class="btn btn-outline-secondary">{% trans "Back to Blog" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
